@{ ViewData["Title"] = "Departamentos"; }

<style>

    #table3 thead tr th {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #ffffff;
    }

    .table-responsive {
        height: 200px;
        overflow: scroll;
    }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/js/i18n/defaults-es_ES.min.js"></script>

<div class="dt-card dt-card__full-height">
    <div class="dt-card__header" style="justify-self">
        <h4 class="mb--15">Usuarios</h4>
        <div>
            <button class="btn btn-success" data-toggle="modal" data-target="#Add" id="btnAgregarUsuario">Agregar Usuario</button>
        </div>
    </div>
    <div class="card-body">       
        <table class="table" id="table3">
            <thead>
                <tr>
                    <th scope="col">Número de nómina</th>
                    <th scope="col">Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ins in ViewBag.Usuarios)
               {
                   <tr>
                       <td>@ins.UserName</td>
                       <td>@ins.Email</td>
                       <td>
            <a href="" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="DeleteUsuario('@ins.Id')"><i class="material-icons text-danger EliminarUsuario">delete</i></a>
            <a href="" data-toggle="tooltip" data-placement="top" title="Modificar contraseña" onclick="OpenModalEdit('@ins.Id')"><i class="material-icons text-light-yellow ModificarPassword">key</i></a>
            
                       </td>
                   </tr>
               }
            </tbody>
        </table>
    </div>
</div>

@*Agregar YA MOSTRANDO EL MODAL*@
<div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:45em;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="AddUsuario" asp-controller="Usuarios" asp-action="Add" method="POST">
                    <div class="form-group row">
                        
                        <div class="col-sm-10">
                            <label class="col-sm-2 col-form-label">Número de nómina</label><br />
                            <input type="number" class="form-control col-sm-10 col-form-label" name="NoNomina" id="NoNomina" maxlength="50" placeholder="Número de nómina" autocomplete="off" required>
                        </div>
                        <div class="col-sm-10">
                            <label class="col-sm-2 col-form-label">Correo</label><br />
                            <input type="text" class="form-control col-sm-10 col-form-label" name="UserCorreo" id="UserCorreo" maxlength="50" placeholder="Correo Electrónico" autocomplete="off" required>
                        </div>
                        <div class="col-sm-10">
                            <label class="col-sm-2 col-form-label">Contraseña </label><br />
                            <input type="password" class="form-control col-sm-10 col-form-label" name="UserPassword" id="UserPassword" maxlength="50" placeholder="Password" autocomplete="off" required>
                            <font color="red">* La contraseña debe tener una mayúscula, una minúscula y un caracter especial (.-_,*!) al menos.</font>
                        </div>


                        </div>
                    <div class="form-group float-right">
                        <button type="button" id="btnAddUsuarios" onclick="AddUsuario()" class="btn btn-success">Agregar</button>
                        <button data-dismiss="modal" class="btn btn-danger">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*Editar FORMULARIO YA EN MODAL*@
<div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:45em;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reestablecer contraseña</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="EditPassword" asp-controller="Usuarios" asp-action="EditPasswordUsuario" method="POST">
                    <input type="hidden" />
                    <input type="hidden" id="Id" name="Id" />
                    <div class="form-group row">
                        
                        <div class="col-sm-10 mx-auto">
                            <label class="col-sm-2 col-form-label">Número de nómina</label>
                            <input type="text" class="form-control col-sm-10 col-form-label" name="NumNominaE" id="NumNominaE" placeholder="Descripción" readonly>
                        </div>
                        <div class="col-sm-10 mx-auto">
                            <label class="col-sm-2 col-form-label">Contraseña</label>
                            <input type="password" class="form-control col-sm-10 col-form-label" name="PasswordE" id="PasswordE" placeholder="Contraseña" required>
                            <font color="red">* La contraseña debe tener una mayúscula y un caracter especial (.-_,*!) al menos.</font>
                        </div>
                        <div class="col-sm-10 mx-auto">
                            <label class="col-sm-2 col-form-label">Confirmar contraseña</label>
                            <input type="password" class="form-control col-sm-10 col-form-label" name="CPasswordE" id="CPasswordE" placeholder="Confirmar contraseña" required>
                        </div>
                    </div>
                    <div class="form-group float-right">
                        <button type="button" id="btnEditPassword" onclick="EditPassword()" class="btn btn-success">Guardar</button>
                        <button data-dismiss="modal" class="btn btn-danger">Cancelar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- ******* SECCIÓN DE JAVASCRIPT ******* -->

<script src="~/lib/datatables.net/js/jquery.dataTables.js"></script>
<script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<script src="~/js/custom/data-table.js"></script>
<script src="~/js/AltaUsuarios/AltaUsuarios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js"></script>

