@{ ViewData["Title"] = ".: Nucleo RH :.";}
<style>
    td {
        min-width: 100px;
    }

    #tableSticky thead tr th {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #ffffff;
    }

    .table-responsive {
        height: 200px;
        overflow: scroll;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Bienvenido a ND Capital Humano.</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="dt-card">
            <div class="card-body" style="height: 71vh;">
                <div class="row">
                   
                 </div>
                </div>
            </div>
            </div>
            </div>