
@{ ViewData["Title"] = "Login"; }
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="3SS SYSTEM">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <!-- /meta tags -->

    <title>Núcleo de Diagnóstico</title>
    <link rel="icon" href="/img/ic_launcher.png" type="image/icon type">
    <link rel="stylesheet" href="~/lib/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/vendors/gaxon-icon/style.css">
    <link rel="stylesheet" href="~/lib/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/css/lite-style-1.min.css">

    <!-- Font Awesome-->
    <script src="https://kit.fontawesome.com/64f014235d.js" crossorigin="anonymous"></script>
    <!-- Font Awesome-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body class="dt-sidebar--fixed dt-header--fixed">
    <!-- Loader -->
    <div class="dt-loader-container">
        <div class="dt-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>
    <!-- /loader -->
    <!-- Root -->
    <div class="dt-root">
        <!-- Login Container -->
        <div class="dt-login--container dt-app-login--container">
            <!-- Login Content -->
            <div class="dt-login__content-wrapper">
                <!-- Login Background Section -->
                <div class="dt-login__bg-section">
                    <div class="dt-login__bg-content">
                        <!-- Login Title -->
                        <h1 class="dt-login__title">Iniciar Sesión</h1>
                        <!-- /login title -->
                    </div>
                    <!-- Brand logo -->
                    <div class="dt-login__logo">
                        <a class="dt-brand__logo-link">
                        </a>
                    </div>
                    <!-- /brand logo -->
                </div>
                <!-- /login background section -->
                <!-- Login Content Section -->
                <div class="dt-login__content">
                    <!-- Login Content Inner -->
                    <div class="dt-login__content-inner">
                        <!-- Form -->
                        @RenderBody()
                        <!-- /form -->
                    </div>
                    <!-- /login content inner -->
                </div>
                <!-- /login content section -->
            </div>
            <!-- /login content -->
        </div>
        <!-- /login container -->
    </div>
    <!-- /root -->
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Perfect Scrollbar jQuery -->
    <script src="~/lib/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <!-- /perfect scrollbar jQuery -->
    <!-- masonry script -->
    <script src="~/lib/masonry-layout/dist/masonry.pkgd.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.js"></script>
    <!-- Date-time Pickers -->
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/moment/min/locales.min.js"></script>
    <script src="~/lib/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- /date-time pickers -->
    <script src="~/js/custom/datetime-pickers.js"></script>
    <!-- Date Table -->
    <script src="~/lib/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/js/custom/data-table.js"></script>
    <!-- Date Table -->
    <script src="~/js/script.js"></script>
</body>
<!-- Mirrored from wieldy.g-axon.work/html-bs4/default/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Nov 2019 03:35:22 GMT -->
</html>