@model IEnumerable<NucleoRH.Models.CatDepartamentos>
@{ ViewData["Title"] = "Departamentos"; }
<style>

    #table3 thead tr th {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #ffffff;
    }

    .table-responsive {
        height: 200px;
        overflow: scroll;
    }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/js/i18n/defaults-es_ES.min.js"></script>
<script src="https://unpkg.com/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
    <script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>

<div class="dt-card dt-card__full-height">
    <div class="dt-card__header" style="justify-self">
        <h4 class="mb--15">Generar Reportes de permisos</h4>
        <button type="button" id="btnGenerarVistaPrevia" onclick="OpenModalVistaPrevia()" class="btn btn-success">Generar vista previa</button>
    </div>
    <div class="card-body" style="overflow:scroll">       
        <div id="Filtros" style="display:inline-block" class="col-12">
            <div style="float:left; width:34%;height:280px;">
				<p> Filtrar por:</p>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="ReporteRadio" id="ReporteRadioSucursal" value="sucursal">
        <label class="form-check-label" for="ReporteRadioSucursal" >Sucursal</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="ReporteRadio" id="ReporteRadioEmpleado" value="empleado">
        <label class="form-check-label" for="ReporteRadioEmpleado" >Empleado</label>
        </div>
		<div id="SucursalDiv" class="sucursal box"><label class=" col-form-label">Seleccione la sucursal:</label>
               <select class="form-control col-sm-6 col-form-label" asp-items="ViewBag.Sucursales" id="ReporteSucursalId" name="ReporteSucursalId">
               <option selected disabled value="">Seleccione una opción</option>
               </select>
               </div><br />
                <div id="SucursalDiv2" class="sucursal box mx-auto" > <input class="form-check-input " type="checkbox" name="ReporteCheckBoxAllSucursales" id="ReporteCheckBoxAllSucursales" >
               <label class="form-check-label " for="ReporteCheckBoxAllSucursales">Todas las sucursales</label></div>
        <br /><label id="NumNomina" class="empleado box col-form-label">Número de nómina</label><br />
              <input type="number" class="form-control col-sm-6 col-form-label empleado box" name="ReporteEmpId" id="ReporteEmpId" maxlength="6" placeholder="Número de nómina" >
			</div>
            <div style="float:left; width:33%;height:280px;">
              <label class=" col-form-label">Fecha de Inicio</label><br />
              <input type="date" class="form-control col-sm-6 col-form-label" name="ReporteFechaDesde" id="ReporteFechaDesde" >
              <label class=" col-form-label">Fecha de Finalización<br /></label>
              <input type="date" class="form-control col-sm-6 col-form-label" name="ReporteFechaHasta" id="ReporteFechaHasta"  >
			</div>
            <div style="float:left; width:33%;height:280px;">
                <div ><label class=" col-form-label">Seleccione el tipo de permiso:</label>
               <select class="form-control col-sm-6  col-form-label" asp-items="ViewBag.Permisos" id="ReporteIncidenciaId" name="ReporteIncidenciaId">
               <option selected disabled value="">Seleccione una opción</option>
               </select>
               </div>
                <div ><br /> <input class="form-check-input" type="checkbox" name="ReporteCheckBoxAllPermisos" id="ReporteCheckBoxAllPermisos" >
               <label class="form-check-label" for="ReporteCheckBoxAllPermisos">Todos los permisos</label><br /> <br /></div>
               <button type="button" id="btnExportarExcel" onclick="ExportarExcel()" class="btn btn-info" disabled>Exportar a Excel</button>
               <button type="button" id="btnExportarPDF" onclick="ExportarPDF()" class="btn btn-info" disabled>Exportar a PDF</button>
			</div>
        </div>
        <div id="VistaPrevia" style="display:inline-block">
           <div style="display:none" class="col-12"> @*Div de la tabla del encabezado*@
            <table style="border-collapse: collapse;" border="1"; width="1500" id="tablaencabezado">
			<tbody>
				<tr>
					<td width="100"  rowspan="4">
						<img src="https://www.nucleodediagnostico.com/img/img-sitio/logond.svg" width="100" height="60">
					</td>
					<td rowspan="2"  height="18">
						<p align="center"><font size=4> <strong>NUCLEO DE DIAGNÓSTICO <br />
                        </strong></font></p>
					</td>
					<td  height="18">
						<p  align="center"><font id="FechaDesde" size=1> </font></p>
					</td>
				</tr>
				<tr>
					<td  height="18">
						<p align="center">
						<font id="FechaHasta" size=1>  </font>
						<strong></strong>
						</p>
					</td>
				</tr>
				<tr>
					<td rowspan="2"  height="18">
						<p align="center">
							<font size=2 id="TReportes"><strong></strong></font> 
						</p>
					</td>
				</tr>
				<tr>
					<td  height="18">
						<p align="center" >
						<font id="FechaDeHoy" size=1> </font>
						</p>
					</td>
				</tr>
			</tbody>
		    </table>
            </div> 
             <div>
                 <div id="TablaVacaciones">
                     <table class="table table-bo display" id="table3">
             </table>
                 </div>
                 <div id="TablaComision">
                     <table class="table table-bo display" id="table5">
             </table>
                 </div>
                 <div id="TablaPersonalSH">
                     <table class="table table-bo display" id="table6">
             </table>
                 </div>
                 <div id="PermisoPersonalCH">
                     <table class="table table-bo display" id="table7">
             </table>
                 </div>
                 <div id="PermisoPersonalES">
                     <table class="table table-bo display" id="table9">
             </table>
                 </div>
                 <div id="Todos">
                     <table class="table table-bo display" id="table8">
             </table>
                 </div>
             </div>
             <div style="display:none">
             <table class="table table-bo" id="table4">
             </table>
             </div>
        </div>
    </div>
</div>

<!-- ******* SECCIÓN DE JAVASCRIPT ******* -->

<script src="~/lib/datatables.net/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<script src="~/js/custom/data-table.js"></script>
<script src="~/js/Reportes/Reportes.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js"></script>